# Docs sueltos
HELP.md

# Build / salida
target/
build/
out/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# SO
.DS_Store
Thumbs.db

# Logs / temporales
logs/
*.log
tmp/
*.tmp

# Variables de entorno / secretos (ajusta según tu flujo)
.env
.env.*
application-*.local.properties

# Maven Wrapper: se versiona (no lo ignores)
# Asegúrate de tener estos archivos en el repo:
#   .mvn/wrapper/*
#   mvnw
#   mvnw.cmd
